.parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.childone{
  width: 30%;
  height: 20%;
  padding: 2%;
  border: 2px solid #FF0D1D;
  text-shadow: 4px 4px 4px #1C6EA4;
  box-shadow: 3px 6px 3px #D9FF42;
  border-radius: 20px;
  margin: 2%;
}
.childtwo{
  width: 70%;
  height: 90%;
  padding: 2%;
  margin: 2%;
  text-shadow: 4px 4px 4px #1C6EA4;
  border: 2px solid #FF0D1D;
  box-shadow: 3px 6px 3px #FF0D1D;
  border-radius: 20px;

}
img{
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width:1354px) and (max-width:1287px){
  .parent{
    display: flex;
    flex-direction: column;
    justify-content: center;


  }
  .childone{
    width: 95%;
    height: 20%;
    padding: 2%;
    border: 2px solid #FF0D1D;
    background-color: blue;
    text-shadow: 4px 4px 4px #1C6EA4;
    box-shadow: 3px 6px 3px #D9FF42;
    border-radius: 20px;
    margin: 2%;
  }
  .childtwo{
    width: 95%;
    height: 90%;
    padding: 2%;
    margin: 2%;
    text-shadow: 4px 4px 4px #1C6EA4;
    border: 2px solid #FF0D1D;
    box-shadow: 3px 6px 3px #FF0D1D;
    border-radius: 20px;

  }
  img{
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width:481px) and (max-width:768px){
  .parent{
    display: flex;
    flex-direction: column;
    justify-content: center;


  }
  .childone{
    width: 95%;
    height: 20%;
    padding: 2%;
    border: 2px solid #FF0D1D;
    background-color: yellow;
    text-shadow: 4px 4px 4px #1C6EA4;
    box-shadow: 3px 6px 3px #D9FF42;
    border-radius: 20px;
    margin: 2%;
  }
  .childtwo{
    width: 95%;
    height: 90%;
    padding: 2%;
    margin: 2%;
    text-shadow: 4px 4px 4px #1C6EA4;
    border: 2px solid #FF0D1D;
    box-shadow: 3px 6px 3px #FF0D1D;
    border-radius: 20px;

  }
  img{
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width:769px) and (max-width:1024px){
  .parent{
    display: flex;
    flex-direction: column;
    justify-content: center;


  }
  .childone{
    width: 95%;
    height: 20%;
    padding: 2%;
    border: 2px solid #FF0D1D;
    background-color: yellow;
    text-shadow: 4px 4px 4px #1C6EA4;
    box-shadow: 3px 6px 3px #D9FF42;
    border-radius: 20px;
    margin: 2%;
  }
  .childtwo{
    width: 95%;
    height: 90%;
    padding: 2%;
    margin: 2%;
    border: 2px solid #FF0D1D;
    text-shadow: 4px 4px 4px #1C6EA4;
    box-shadow: 3px 6px 3px #FF0D1D;
    border-radius: 20px;

  }
  img{
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width:1025px) and (max-width:1550px){
  .parent{
    display: flex;
    flex-direction: row;
    justify-content: center;


  }
  .childone{
    width: 95%;
    height: 20%;
    padding: 2%;
    text-shadow: 4px 4px 4px #1C6EA4;
    border: 2px solid #FF0D1D;
    background-color: green;

    box-shadow: 3px 6px 3px #D9FF42;
    border-radius: 20px;
    margin: 2%;
  }
  .childtwo{
    width: 95%;
    height: 90%;
    padding: 2%;
    margin: 2%;
    text-shadow: 4px 4px 4px #1C6EA4;
    border: 2px solid #FF0D1D;
    box-shadow: 3px 6px 3px #FF0D1D;
    border-radius: 20px;

  }
  img{
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
